<!doctype html>
<html ng-app="demo" ng-cloak ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>JSON Schema View directive demo</title>
    <link rel="stylesheet" href="../bower_components/json-formatter/dist/json-formatter.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/json-schema-view.css">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container">
      <h1 class="text-muted">JSON Schema View Demo</h1>
      <header class="row">
        <div class="col-lg-10">
          <iframe src="http://ghbtns.com/github-btn.html?user=mohsen1&repo=json-schema-view&type=watch&size=large&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=mohsen1&repo=json-schema-view&type=fork&size=large&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
        </div>
        <div class="col-lg-2 text-right">
          <a href="https://github.com/mohsen1/json-schema-view" class="btn btn-large btn-primary">Code in GitHub</a>
        </div>
      </header>

      <section class="live">
        <h3>Live Schema</h3>
        <div class="usage row">
          <div class="col-md-6">
            <h4>Edit the schema</h4>
            <span class="label label-danger" ng-if="invalidLiveStr">Invalid JSON</span>
            <textarea ng-keyup="onLiveSchemaKeyUp()"ng-class="{invalid: invalidLiveStr}" ng-model="liveSchemaStr"></textarea>
          </div>
          <div class="col-md-6">
            <h4>Result</h4>
            <json-schema-view schema="liveSchema" open="1"></json-schema-view>
          </div>
        </div>
      </section>

      <section ng-repeat="schema in schemas track by schema.title">
        <h3>{{schema.title}}</h3>
        <div class="usage row">
          <div class="col-md-6">
            <h4>JSON Schema</h4>
            <json-formatter json="schema.schema" open="3"></json-formatter>
          </div>
          <div class="col-md-6">
            <h4>Result</h4>
            <json-schema-view schema="schema.schema" open="1"></json-schema-view>
          </div>
        </div>
      </section>
    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/json-formatter/dist/json-formatter.js"></script>
    <script src="../dist/json-schema-view.js"></script>
    <script src="demo.js"></script>
  </body>
</html>
