<div class="json-schema-view" ng-class="{collapsed: isCollapsed}">

  <!-- Primitive -->
  <div class="primitive" ng-if="isPrimitive">
    <a class="title" ng-click="toggle()"><span class="toggle-handle"
      ng-if="isPrimitiveCollapsible()"></span>{{schema.title}}</a>
    <span class="type">{{schema.type}}</span>
    <span class="required" ng-if="isRequired(schema)">*</span>
    <span class="format" ng-if="!isCollapsed && schema.format">({{schema.format}})</span>
    <span class="range minimum" ng-if="!isCollapsed && schema.minimum">minimum:{{schema.minimum}}</span>
    <span class="range exclusiveMinimum" ng-if="!isCollapsed && schema.exclusiveMinimum">(ex)minimum:{{schema.exclusiveMinimum}}</span>
    <span class="range maximum" ng-if="!isCollapsed && schema.maximum">maximum:{{schema.maximum}}</span>
    <span class="range exclusiveMaximum" ng-if="!isCollapsed && schema.exclusiveMaximum">(ex)maximum:{{schema.exclusiveMaximum}}</span>
    <span class="range minLength" ng-if="!isCollapsed && schema.minLength">minLength:{{schema.minLength}}</span>
    <span class="range maxLength" ng-if="!isCollapsed && schema.maxLength">maxLength:{{schema.maxLength}}</span>
    <div class="inner description">{{schema.description}}</div>
    <div ng-include="'enum.html'" ng-if="!isCollapsed && schema.enum"></div>
    <div ng-include="'x_of.html'" ng-if="schema.allOf" onload="type = 'allOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.anyOf" onload="type = 'anyOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.oneOf" onload="type = 'oneOf'"></div>
  </div>


  <!-- Array -->
  <div ng-if="isArray" class="array">
    <a class="title" ng-click="toggle()"><span
      class="toggle-handle"></span>{{schema.title}} <span class="opening bracket">[</span><span class="closing bracket" ng-if="isCollapsed">]</span>
    </a>
    <span ng-if="!isCollapsed && (schema.uniqueItems || schema.minItems || schema.maxItems)">
      <span title="items range">({{schema.minItems || 0}}..{{schema.maxItems || '∞'}})</span>
      <span title="unique" class="uniqueItems" ng-if="!isCollapsed && schema.uniqueItems">♦</span>
    </span>
    <div class="inner">
      <div class="description">{{schema.description}}</div>
      <json-schema-view ng-if="!isCollapsed" schema="schema.items" open="open - 1"></json-schema-view>
    </div>
    <div ng-include="'enum.html'" ng-if="!isCollapsed && schema.enum"></div>
    <div ng-include="'x_of.html'" ng-if="schema.allOf" onload="type = 'allOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.anyOf" onload="type = 'anyOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.oneOf" onload="type = 'oneOf'"></div>
    <span class="closing bracket" ng-if="!isCollapsed">]</span>
  </div>

  <!-- Object -->
  <div ng-if="!isPrimitive && !isArray" class="object">
    <a class="title" ng-click="toggle()"><span
      class="toggle-handle"></span>{{schema.title}} <span
      class="opening brace">{</span><span class="closing brace" ng-if="isCollapsed">}</span>
    </a>

    <div class="inner">
      <div class="description">{{schema.description}}</div>
      <div class="property" ng-repeat="(propertyName, property) in schema.properties">
        <span class="name">{{propertyName}}:</span>
        <json-schema-view schema="property" open="open - 1"></json-schema-view>
      </div>
    </div>
    <div ng-include="'enum.html'" ng-if="!isCollapsed && schema.enum"></div>
    <div ng-include="'x_of.html'" ng-if="schema.allOf" onload="type = 'allOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.anyOf" onload="type = 'anyOf'"></div>
    <div ng-include="'x_of.html'" ng-if="schema.oneOf" onload="type = 'oneOf'"></div>
    <span class="closeing brace" ng-if="!isCollapsed">}</span>
  </div>
</div>
