.json-schema-view {
  font-family: monospace;

  .properties {
    margin-left: 1em;

    .name {
      color: blue;
    }
    .type {
      color: green;
    }
    .required {
      color: red;
    }
  }
}