<div class="json-schema-view" ng-class="{collapsed: isCollapsed}">

  <a class="toggler" ng-click="toggle()"></a>

  <!-- Primitive -->
  <span class="primitive" ng-if="isPrimitive">
    <a class="title" ng-click="toggle()">{{schema.title}}</a>
    <span class="type">{{schema.type}}</span>
    <span class="required" ng-if="isRequired(schema)">*</span>
    <span class="format" ng-if="!isCollapsed && schema.format">({{schema.format}})</span>
    <span class="range minimum" ng-if="!isCollapsed && schema.minimum">minimum:{{schema.minimum}}</span>
    <span class="range maximum" ng-if="!isCollapsed && schema.maximum">maximum:{{schema.maximum}}</span>
    <div class="description">{{schema.description}}</div>
  </span>



  <!-- Array -->
  <span ng-if="isArray" class="array">
    <a class="title" ng-click="toggle()">{{schema.title}}</a>
    <span class="array-of">[</span>
    <div class="description">{{schema.description}}</div>
    <json-schema-view  schema="schema.items"></json-schema-view>
    <span class="array-of">]</span>
  </span>

  <!-- Object -->
  <span ng-if="!isPrimitive && !isArray" class="object">
    <a class="title" ng-click="toggle()">{{schema.title}}</a>
    <span class="opening brace">{</span>
    <div class="description">{{schema.description}}</div>
    <div class="property" ng-repeat="(propertyName, property) in schema.properties">
      <span class="name">{{propertyName}}:</span>
      <json-schema-view schema="property"></json-schema-view>
    </div>
    <span class="closeing brace">}</span>
  </span>
</div>